<template>

    <div style="">

      <div>
        <input type='text' v-model="path" class="form-control" style='width:390px;display:inline'id='wsaddr'/>
        <div class="btn-group" role="group" aria-label="...">
          <a-space>
                  <button @click="init">连接</button>
                  <button @click="close">断开连接</button>
          <span>{{ hint }}</span>
            </a-space>
      </div>
      </div>
      <div class="row" >
        <div id="output" style="border:1px solid #ccc;height:365px;overflow: auto;margin-left:15px">
                <a-space direction="vertical">
                <tr v-for="item in items" >
                  <div>
                  <h1 v-if="item.index==1">
                  <div :style="{ marginLeft: `${buttonWidth1}px`, whiteSpace: 'nowrap' }">
                  <a-popover placement="left">
                      <a-button >
                        {{ item.message }}
                      </a-button>
                  </a-popover>
                  </div>
                  </h1>
                  <h1 v-else-if="item.index==2" >
                    <div :style="{ marginLeft: `${buttonWidth2}px`, whiteSpace: 'nowrap' }">
                      <a-popover placement="right">
                        <a-button type="primary">
                          {{ item.message }}
                        </a-button>
                      </a-popover>
                    </div>
                  </h1>
                  </div>
                </tr>
                </a-space>

        </div>

        <div class="col-lg-6">

              <a-row>
                <input v-model="message"></input>
                <button @click="send">发消息</button>
              </a-row>
        </div>
      </div>
    </div>


<!--  </div>-->

</template>

<script>

export default {
  data () {

    return {
      items: [],
      message: "",
      path:"ws://localhost:8080/jeecg-boot/chat/websocket/FromFile",
      socket:"",
      buttonWidth1: 50,
      buttonWidth2: 1100,
      hint:""
    }
  },
  mounted () {
    // 初始化
    //this.init()
  },
  methods: {

    init: function () {
      if(typeof(WebSocket) === "undefined"){
        alert("您的浏览器不支持socket")
      }else{
        // 实例化socket
        this.socket = new WebSocket(this.path)
        // 监听socket连接
        this.socket.onopen = this.open
        // 监听socket错误信息
        this.socket.onerror = this.error
        // 监听socket消息
        this.socket.onmessage = this.getMessage
      }
    },
    open: function () {
      this.hint="socket连接成功"
    },
    error: function () {
      this.hint="连接错误"
    },
    getMessage: function (msg) {
      let c={index:1,message:msg.data}
      this.items.push(c);
    },
    send: function () {
      let d={index:2,message:this.message}
      this.items.push(d)
      this.socket.send(this.message)
    },
    close: function () {
      this.hint="socket已经关闭"
      this.destroyed()
    }
  },
  destroyed () {
    // 销毁监听
    this.socket.onclose = this.close
  }
}
</script>
<style>
#components-affix-demo-target.scrollable-container {
  height: 300px;
  overflow-y: scroll;
}
#components-affix-demo-target .background {
  padding-top: 60px;
  height: 500px;
  background-image: url('https://zos.alipayobjects.com/rmsportal/RmjwQiJorKyobvI.jpg');
}

.siteleadul li{
  list-style:none;
  width:200px;
  float:left;
  line-height:25px
}
#components-popover-demo-placement .ant-btn {
  width: 70px;
  text-align: center;
  padding: 0;
  margin-right: 8px;
  margin-bottom: 8px;
}
</style>